#header {
    text-align: left;
    padding: 20px;
    background: #3b82f6;
    color: white;
    border-radius: 20px;
    width: fit-content;
    display: inline-block;
}

#footer {
    text-align: left;
    padding: 5px;
    color: #666;
    margin-top: 5PX;
    border-top: 1px solid #ddd;
}

.gradio-container {
    max-width: none !important;
    width: 100% !important;
    margin: 0 !important;
}

.tab-nav button {
    font-size: 16px !important;
    font-weight: 500 !important;
}